@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
  --color-primary: #A2BF74;
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    background-color: #e8e8e8;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}
